*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:white;
    font-family:Inter,sans-serif;
    overflow-x:hidden;
}

/* HERO */

.hero{
    min-height:100vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 10%;

    background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)),
    url("background2.jpg");

    background-size:cover;
    background-position:center;
}

.hero-left{
    max-width:700px;
}

.small-title{
    letter-spacing:5px;
    color:#888;
}

.hero h1{
    font-size:8rem;
    line-height:.85;
    font-weight:900;
    margin-top:20px;
}

.hero p{
    margin-top:30px;
    color:#bbb;
    max-width:550px;
    font-size:1.15rem;
    line-height:1.8;
}

.hero-right{
    text-align:right;
        display:flex;
    flex-direction:column;
    gap:25px;

    margin-top:180px;
}

.hero-number{
    font-size:18rem;
    color:rgba(255,255,255,.06);
    font-weight:900;
        position:absolute;
    top:70px;
    right:80px;

    font-size:10rem;
    opacity:.08;
}

.mini-card{
    width:260px;
    margin-top:20px;
    padding:25px;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    backdrop-filter:blur(20px);
        box-shadow:
    0 10px 40px rgba(0,0,0,.4);
}

.mini-card h3{
    margin-bottom:10px;
}

/* GENERAL */

section{
    padding:120px 10%;
    position:relative;
}

.section-title p{
    color:#bcbcbc;
    letter-spacing:4px;
    margin-bottom:10px;
}

.section-title h2{
    max-width: 900px;
    font-size: 4rem;
    line-height: 1;
}

/* ABOUT */

.about{
    min-height:100vh;
    padding:120px 10%;
    position:relative;
}

.section-number{
    position:absolute;
    top:70px;
    right:10%;
    font-size:9rem;
    font-weight:900;
    color:rgba(255,255,255,.07);
}

.section-title p{
    letter-spacing:4px;
    color:#666;
    margin-bottom:10px;
}

.section-title h2{
    font-size:4rem;
    max-width:850px;
    line-height:1.05;
    margin-bottom:40px;
}

.about-description{
    max-width:700px;
    margin-bottom:60px;
}

.about-description p{
    color:#b8b8b8;
    line-height:1.8;
    font-size:1.05rem;
}

.about-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

.about-card{
    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.06);
    border-radius:24px;
    padding:28px;
    backdrop-filter:blur(10px);
}

.about-card h3{
    font-size:.9rem;
    letter-spacing:2px;
    color:#888;
    margin-bottom:20px;
}

.about-card h4{
    font-size:1.6rem;
    margin-bottom:8px;
}

.college{
    color:#9d9d9d;
    margin-bottom:25px;
}

.card-desc{
    color:#b8b8b8;
    line-height:1.8;
    margin-bottom:25px;
}

.card-footer{
    display:flex;
    gap:15px;
}

.card-footer span{
    padding:8px 14px;
    background:rgba(255,255,255,.05);
    border-radius:30px;
    color:#d6d6d6;
    font-size:.9rem;
}

.interest-tags{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
}

.interest-tags span{
    padding:10px 16px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.06);
    border-radius:30px;
    transition:.3s;
}

.interest-tags span:hover{
    transform:translateY(-3px);
    background:rgba(255,255,255,.08);
}

/* PROJECTS */
.projects{
    padding:80px 10%;
    position:relative;
}
.section-title h2{
    margin-bottom:15px;
}

.projects-intro{
    margin-bottom:10px;
}

.scroll-hint{
    margin-bottom:10px;
}
.projects-intro p{

    color:#b8b8b8;

    line-height:1.8;

    font-size:1.05rem;
}
.scroll-hint{

    display:flex;

    justify-content:flex-end;

    align-items:center;

    gap:12px;

    margin-bottom:12px;

    color:#888;

    letter-spacing:2px;

    font-size:.85rem;
}
.scroll-btn{

    width:42px;

    height:42px;

    border-radius:50%;

    border:1px solid rgba(255,255,255,.1);

    background:
    rgba(255,255,255,.04);

    color:white;

    font-size:1.2rem;

    cursor:pointer;

    backdrop-filter:blur(10px);

    transition:.3s;
}
.scroll-btn{

    animation:
    pulseArrow 2s infinite;
}
.scroll-btn:hover{

    transform:
    translateX(5px);

    background:
    rgba(255,255,255,.08);

    border-color:
    rgba(255,255,255,.2);
}
@keyframes pulseArrow{

    0%{
        transform:translateX(0);
    }

    50%{
        transform:translateX(6px);
    }

    100%{
        transform:translateX(0);
    }
}
.projects-scroll{

    display:flex;

    gap:25px;

    overflow-x:auto;

    padding:0;

    scroll-snap-type:x mandatory;

    scrollbar-width:none;
}
.projects-scroll::-webkit-scrollbar{
    display:none;
}

.project-showcase{

    min-width:350px;

    min-height:320px;

    flex-shrink:0;

    scroll-snap-align:start;

    text-decoration:none;

    color:white;

    padding:25px;

    border-radius:24px;

    background:
    rgba(255,255,255,.03);

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.35s;

    display:flex;

    flex-direction:column;

    justify-content:space-between;
}
.project-showcase:hover{

    transform:
    translateY(-8px);

    background:
    rgba(255,255,255,.05);

    border-color:
    rgba(255,255,255,.15);

    box-shadow:
    0 15px 35px rgba(0,0,0,.25);
}
.project-number{

    color:#666;

    letter-spacing:3px;

    font-size:.85rem;
}
.project-showcase h3{

    font-size:2rem;

    margin:15px 0;
}
.project-showcase p{

    color:#b8b8b8;

    line-height:1.8;

    margin-bottom:20px;
}
.project-tech{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:25px;
}
.project-tech span{

    padding:8px 14px;

    border-radius:20px;

    background:
    rgba(255,255,255,.05);

    border:
    1px solid rgba(255,255,255,.06);

    font-size:.85rem;

    color:#d8d8d8;
}
.project-arrow{

    color:#888;

    letter-spacing:1px;

    transition:.3s;
}
.project-showcase:hover .project-arrow{

    color:white;
}
@media(max-width:768px){

.project-showcase{

    min-width:320px;
}

}
/* SKILLS */
.stats{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:25px;

    margin-top:50px;

    margin-bottom:60px;
}
.stat-card{

    padding:35px;

    border-radius:24px;

    background:
    rgba(255,255,255,.03);

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.3s;
}
.stat-card:hover{

    transform:
    translateY(-8px);

    background:
    rgba(255,255,255,.05);

    border-color:
    rgba(255,255,255,.15);
}
.stat-card h3{

    font-size:3rem;

    margin-bottom:10px;

    font-weight:800;
}
.stat-card p{

    color:#999;

    letter-spacing:1px;
}
.skills-cloud span{

    padding:14px 22px;

    border-radius:30px;

    background:
    rgba(255,255,255,.04);

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    transition:.3s;
}
.skills-cloud span:hover{

    transform:
    translateY(-4px);

    background:
    rgba(255,255,255,.08);
}
@media(max-width:768px){

.stats{

    grid-template-columns:1fr;
}

}

/* RESUME */
.resume-box{

    max-width:1200px;

    margin:auto;

    padding:60px;

    border-radius:30px;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);
}
.resume{

    min-height:70vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    position:relative;
}
.resume-content{

    max-width:700px;
}
.resume-label{

    letter-spacing:4px;

    color:#888;

    margin-bottom:15px;
}
.resume h2{

    font-size:4rem;

    margin-bottom:20px;

    line-height:1;
}
.resume-text{

    color:#b8b8b8;

    line-height:1.8;

    margin-bottom:40px;
}
.resume-btn{

    display:inline-flex;

    align-items:center;

    gap:10px;

    padding:18px 34px;

    border-radius:50px;

    text-decoration:none;

    color:white;

    background:
    rgba(255,255,255,.05);

    border:
    1px solid rgba(255,255,255,.12);

    backdrop-filter:blur(15px);

    transition:.3s;
}
.resume-btn:hover{

    transform:
    translateY(-5px);

    background:
    rgba(255,255,255,.08);

    border-color:
    rgba(255,255,255,.2);
}
.resume-bg{

    position:absolute;

    font-size:20rem;

    font-weight:900;

    color:rgba(255,255,255,.03);

    filter:blur(2px);

    pointer-events:none;

    z-index:-1;
}
/* CONTACT */

.contact{

    min-height:100vh;
    margin-top: 10%;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    padding:120px 10%;
    background:#000;
}
.contact-content{

    width:100%;

    max-width:900px;
}
.contact-label{

    letter-spacing:4px;

    color:#888;

    margin-bottom:15px;
}
.contact h2{

    font-size:5rem;

    line-height:1;

    margin-bottom:20px;
}
.contact-text{

    max-width:650px;

    color:#b8b8b8;

    line-height:1.8;

    margin-bottom:50px;
}
.contact-links{

    display:flex;

    flex-direction:column;

    gap:20px;
}
.contact-links a{

    display:flex;

    justify-content:space-between;

    align-items:center;

    text-decoration:none;

    color:white;

    padding:25px 30px;

    border-radius:20px;

    background:
    rgba(255,255,255,.03);

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.3s;
}
.contact-links a:hover{

    transform:
    translateX(8px);

    background:
    rgba(255,255,255,.05);

    border-color:
    rgba(255,255,255,.15);
}
.contact-bg{

    position:absolute;

    top:90%;

    left:50%;

    transform:translate(-50%,-50%);

    font-size:14rem;

    font-weight:900;

    color:rgba(255,255,255,.06);

    pointer-events:none;

    white-space:nowrap;
}
/* HUGE BACKGROUND TEXT */

.bg-text{
    position:fixed;
    bottom:-40px;
    left:50%;

    transform:translateX(-50%);

    font-size:14rem;
    font-weight:900;

    color:rgba(255, 255, 255, 0.092);

    filter: blur(2px);

    pointer-events:none;
    z-index:-1;

    white-space:nowrap;
}

footer{
    text-align:center;
    padding:40px;
    color:#666;
    background:#050505;
}

/* MOBILE */

@media(max-width:900px){

.hero{
    flex-direction:column;
    justify-content:center;
    text-align:center;
    gap:50px;
}

.hero h1{
    font-size:5rem;
}

.about-grid{
    grid-template-columns:1fr;
}

.skills-grid{
    grid-template-columns:repeat(2,1fr);
}

.project{
    grid-template-columns:1fr;
}

.hero-right{
    text-align:center;
    margin-top:120px;
}

.bg-text{
    display:none;
}

}

.hero-tags{

    margin-top:45px;

    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:12px;

    color:#8c8c8c;

    font-size:1rem;

    letter-spacing:.5px;

}

.hero-tags span{

    background:none;
    border:none;
    padding:0;

}

.hero-tags span:nth-child(even){

    color:#555;

    font-size:1.2rem;

}

.hero-tags span:hover{
    transform:translateY(-5px);
}

.tag-card{

    display:flex;
    align-items:center;
    gap:10px;

    padding:12px 18px;

    width:fit-content;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:14px;

    backdrop-filter:blur(15px);

    transition:.3s;

    box-shadow:
    0 10px 25px rgba(0,0,0,.3);

}

.tag-card:hover{

    transform:
    translateY(-8px);

    background:
    rgba(255,255,255,.08);
}

.tag-card span{

    margin:0;

    font-size:.95rem;

    color:#d5d5d5;

    white-space:nowrap;
}

.tag-card p{

    color:#d0d0d0;

    font-size:.95rem;

    line-height:1.5;
}

.tag-card:hover{
 transform:
    translateY(-5px);

    background:
    rgba(255,255,255,.08);
}
.project-card{

    background:
    rgba(255,255,255,.04);

    backdrop-filter:
    blur(20px);

    border:
    1px solid rgba(255,255,255,.08);

    border-radius:24px;

    padding:28px;

    width:280px;

    box-shadow:
    0 10px 40px rgba(0,0,0,.35);
        text-decoration:none;

    color:white;

    cursor:pointer;

}

.project-card:hover{

    transform:
    translateY(-8px);

    box-shadow:
    0 20px 50px rgba(255,255,255,.08);

}

.project-card h3{

    font-size:1.3rem;

    margin-bottom:14px;

    font-weight:700;
}

.project-card p{

    color:#8c8c8c;

    font-size:.95rem;

    line-height:1.6;
}

.project-no{

    display:block;

    color:#555;

    font-size:.8rem;

    letter-spacing:2px;

    margin-bottom:18px;
}

.project-label{

    color:#666;

    letter-spacing:3px;

    margin-bottom:20px;

    text-transform:uppercase;
}

.project-link{
    text-decoration:none;
}

.hero-watermark{

    position:absolute;

    top:60px;
    right:100px;

    font-size:10rem;

    font-weight:900;

    color:rgba(255,255,255,.08);

    line-height:0.8;

    pointer-events:none;
}

html{
    scroll-behavior:smooth;
}

.section-bg-text{

    position:absolute;
    text-align:right;

    top:50px;
    right:50px;

    font-size:8rem;

    font-weight:900;

    color:rgba(255, 255, 255, 0.042);

    pointer-events:none;
}