*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:white;
    font-family:Inter,sans-serif;
    overflow-x:hidden;
}

/* HERO */

.hero{
    min-height:100vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 10%;

    background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)),
    url("background2.jpg");

    background-size:cover;
    background-position:center;
}

.hero-left{
    max-width:700px;
}

.small-title{
    letter-spacing:5px;
    color:#888;
}

.hero h1{
    font-size:9rem;
    line-height:.85;
    font-weight:900;
    margin-top:20px;
}

.hero p{
    margin-top:30px;
    color:#bbb;
    max-width:550px;
    font-size:1.15rem;
    line-height:1.8;
}

.hero-right{
    text-align:right;
        display:flex;
    flex-direction:column;
    gap:25px;

    margin-top:180px;
}

.hero-number{
    font-size:18rem;
    color:rgba(255,255,255,.06);
    font-weight:900;
        position:absolute;
    top:70px;
    right:80px;

    font-size:10rem;
    opacity:.08;
}

.mini-card{
    width:260px;
    margin-top:20px;
    padding:25px;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    backdrop-filter:blur(20px);
        box-shadow:
    0 10px 40px rgba(0,0,0,.4);
}

.mini-card h3{
    margin-bottom:10px;
}

/* GENERAL */

section{
    padding:120px 10%;
    position:relative;
}

.section-title p{
    color:#777;
    letter-spacing:4px;
    margin-bottom:10px;
}

.section-title h2{
    font-size:4rem;
    margin-bottom:50px;
}

/* ABOUT */

.about{
    background:#090909;
}

.about-heading{

    position:relative;

    margin-bottom:60px;
}

.about-number{

    position:absolute;

    top:-60px;
    left:-20px;

    font-size:8rem;

    font-weight:900;

    color:rgba(255,255,255,.04);

    z-index:0;
}

.about-heading h2{

    position:relative;

    z-index:1;
}

.about-content p{
    max-width:900px;
    line-height:2;
    color:#c8c8c8;
    font-size:1.1rem;
}

.about-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:25px;

    margin-top:50px;
}

.about-card{

    padding:25px 35px;

    border-radius:24px;

    background:
    rgba(255,255,255,.04);

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.3s;
}

.about-card:hover{

    transform:
    translateY(-8px);

    border-color:
    rgba(255,255,255,.15);
}

.education-card h3{

    margin-bottom:15px;

    font-size:1.5rem;
}

.education-card p{

    font-size:1.2rem;

    font-weight:600;

    color:white;

    margin-bottom:8px;
}

.education-card span{

    color:#999;
}

.edu-note{

    margin-top:15px;

    color:#9a9a9a;

    line-height:1.7;

        font-size:.9rem;
    margin-bottom: 15px;
}

.edu-details{
    margin-top:15px;
    padding-top:15px;
}
.interest-list{

    display:flex;

    flex-wrap:wrap;

    row-gap:15px;
    column-gap: normal;
    margin-top:20px;
}

.interest-list span{

    padding:10px 15px;

    background:
    rgba(255,255,255,.05);

    border:
    1px solid rgba(255,255,255,.08);

    border-radius:12px;

    font-size:.9rem;

    color:#d5d5d5;
}
@media(max-width:900px){

.about-grid{

    grid-template-columns:1fr;
}

}

.about-card h3{
    margin-bottom:10px;
}

.about-layout{

    display:grid;

    grid-template-columns:
    200px
    1fr;

    gap:60px;

    margin-bottom:80px;
}

.about-label{

    color:#666;

    letter-spacing:4px;
}

.about-text h2{

    font-size:3rem;

    line-height:1.2;

    margin-bottom:30px;

    max-width:800px;
}

.about-text p{

    color:#aaa;

    max-width:700px;

    line-height:1.8;
}

.about-card{

    background:
    linear-gradient(
    145deg,
    rgba(255,255,255,.06),
    rgba(255,255,255,.02)
    );

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.3s;
}

.about-card:hover{

    transform:
    translateY(-8px);

    border-color:
    rgba(255,255,255,.15);
}

.about-number{

    font-size:10rem;

    font-weight:900;

    color:
    rgba(255,255,255,.04);

    margin-bottom:-30px;
}

/* PROJECTS */

.projects{
    background:#050505;
}

.project{
    display:grid;
    grid-template-columns:120px 1fr;
    gap:40px;

    padding:60px 0;

    border-top:1px solid #222;
}

.project-no{
    font-size:5rem;
    font-weight:800;
    color:#222;
}

.project-content h3{
    font-size:2rem;
    margin-bottom:15px;
}

.project-content p{
    color:#bdbdbd;
    max-width:600px;
    line-height:1.8;
    margin-bottom:20px;
}

.project-content a{
    display:inline-block;
    padding:12px 22px;
    border:1px solid white;
    border-radius:40px;
    text-decoration:none;
    color:white;
}

/* SKILLS */

.skills{
    background:#090909;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
}

.skills-grid div{
    padding:30px;
    text-align:center;

    background:#111;

    border:1px solid #1f1f1f;

    border-radius:18px;

    transition:.3s;
}

.skills-grid div:hover{
    transform:translateY(-8px);
    border-color:#444;
}

/* RESUME */

.resume{
    text-align:center;
    background:#050505;
}

.btn{
    display:inline-block;

    padding:16px 35px;

    background:white;

    color:black;

    border-radius:50px;

    text-decoration:none;

    font-weight:700;
}

/* CONTACT */

.contact{
    text-align:center;
    background:#090909;
}

.contact-info p{
    margin:20px 0;
    color:#bbb;
}

.contact-info a{
    color:white;
    text-decoration:none;
}

/* HUGE BACKGROUND TEXT */

.bg-text{
    position:fixed;
    bottom:-70px;
    left:-20px;

    font-size:18rem;
    font-weight:900;

    color:rgba(255, 255, 255, 0.075);

    pointer-events:none;
    z-index:-1;
}

footer{
    text-align:center;
    padding:40px;
    color:#666;
    background:#050505;
}

/* MOBILE */

@media(max-width:900px){

.hero{
    flex-direction:column;
    justify-content:center;
    text-align:center;
    gap:50px;
}

.hero h1{
    font-size:5rem;
}

.about-grid{
    grid-template-columns:1fr;
}

.skills-grid{
    grid-template-columns:repeat(2,1fr);
}

.project{
    grid-template-columns:1fr;
}

.hero-right{
    text-align:center;
    margin-top:120px;
}

.bg-text{
    display:none;
}

}

.hero-tags{

    margin-top:45px;

    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:12px;

    color:#8c8c8c;

    font-size:1rem;

    letter-spacing:.5px;

}

.hero-tags span{

    background:none;
    border:none;
    padding:0;

}

.hero-tags span:nth-child(even){

    color:#555;

    font-size:1.2rem;

}

.hero-tags span:hover{
    transform:translateY(-5px);
}

.tag-card{

    display:flex;
    align-items:center;
    gap:10px;

    padding:12px 18px;

    width:fit-content;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:14px;

    backdrop-filter:blur(15px);

    transition:.3s;

    box-shadow:
    0 10px 25px rgba(0,0,0,.3);

}

.tag-card:hover{

    transform:
    translateY(-8px);

    background:
    rgba(255,255,255,.08);
}

.tag-card span{

    margin:0;

    font-size:.95rem;

    color:#d5d5d5;

    white-space:nowrap;
}

.tag-card p{

    color:#d0d0d0;

    font-size:.95rem;

    line-height:1.5;
}

.tag-card:hover{
 transform:
    translateY(-5px);

    background:
    rgba(255,255,255,.08);
}
.project-card{

    background:
    rgba(255,255,255,.04);

    backdrop-filter:
    blur(20px);

    border:
    1px solid rgba(255,255,255,.08);

    border-radius:24px;

    padding:28px;

    width:280px;

    box-shadow:
    0 10px 40px rgba(0,0,0,.35);
        text-decoration:none;

    color:white;

    cursor:pointer;

}

.project-card:hover{

    transform:
    translateY(-8px);

    box-shadow:
    0 20px 50px rgba(255,255,255,.08);

}

.project-card h3{

    font-size:1.3rem;

    margin-bottom:14px;

    font-weight:700;
}

.project-card p{

    color:#8c8c8c;

    font-size:.95rem;

    line-height:1.6;
}

.project-no{

    display:block;

    color:#555;

    font-size:.8rem;

    letter-spacing:2px;

    margin-bottom:18px;
}

.project-label{

    color:#666;

    letter-spacing:3px;

    margin-bottom:20px;

    text-transform:uppercase;
}

.project-link{
    text-decoration:none;
}

.hero-watermark{

    position:absolute;

    top:60px;
    right:100px;

    font-size:10rem;

    font-weight:900;

    color:rgba(255,255,255,.08);

    line-height:0.8;

    pointer-events:none;
}

html{
    scroll-behavior:smooth;
}

.section-bg-text{

    position:absolute;
    text-align:right;

    top:50px;
    right:50px;

    font-size:8rem;

    font-weight:900;

    color:rgba(255, 255, 255, 0.042);

    pointer-events:none;
}